.billboard {
    padding: 0 0 50px 0;
    background: url(../img/header/background.png) center center no-repeat fixed;
    background-size: cover;
}
.billboard__header {
    display: flex;
    width: 100%;
    padding: 15px 0;
}
.billboard__logo-block {
    display: flex;
    align-items: center;
}
.billboard__logo-text {
    margin-left: 15px;
    color: #FFFFFF;
}
.billboard__menu-board {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.billboard__menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    transition: top .7s;
    z-index: 1;
}
.billboard__menu-item a{
    display: block;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    transition: color .2s;
}
.billboard__menu-item_white-space_nowrap {
    white-space: pre;
}
.billboard__menu-item {
    margin-right: 25px;
}
.billboard__menu-item a:hover {
    color: #252525;
}
.billboard__menu li:last-child {
    margin-right: 0px;
}
/* menu billboard__burger s*/
.billboard__burger {
    display: none;
    cursor: pointer;
    z-index: 3;
}
.burger-line {
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: .3s;
    transition-property: transform,opacity;
}
.burger-line:nth-child(2) {
    transform: translateY(9.1px);
}
.burger-line:nth-child(3) {
    transform: translateY(18px);
}
.burger.active .burger-line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
    -webkit-transform: translateY(12px) rotate(45deg);
    -moz-transform: translateY(12px) rotate(45deg);
}
.burger.active .burger-line:nth-child(2) {
    transform: translate(-30px,9.1px);
    opacity: 0;

}
.burger.active .burger-line:nth-child(3) {
    transform: translateY(6px) rotate(-45deg);
    -webkit-transform: translateY(6px) rotate(-45deg);
    -moz-transform: translateY(6px) rotate(-45deg);
}
/* можно использовать два варианта анимации средней линии меню бургер */
@keyframes animBurgerMiddleLine {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    50% {opacity: 0.5;}
    100% {
        transform: translateX(-20px);
        opacity: 0;
    }
}
.burger__menu_no-active {   /* общий класс для основного бургер и фиксированного бургер меню */
    display: none;
}
.burger_show {             /* общий класс для основного бургера и фиксированного бургера кнопок */   
    display: block;
}
/* menu billboard__burger f*/
.billboard__select-box {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 65px;
}
.billboard__select-box:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 12px 8px 0 8px;
    border-color: #fff transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    z-index: 1;
    margin-top: -7px;
}
.billboard__select {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 2px 28px 2px 5px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.billboard__select:focus {
    outline: 0;
    border-color: #fff;
}
.billboard__select-item {
    font-family: "Poppins Regular";
    font-weight: normal;
    font-size: 18px;
    background: #df3124;
}
.billboard__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.billboard__title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 264px;
}
.billboard__title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    /* font-size: 95px; */
    font-size:calc(61px + 34 * ((100vw - 320px) / (1291 - 320)));
    line-height: 73px;
    letter-spacing: 0.2px;
    word-break: break-word;
    color: #FFFFFF;
}
.billboard__subtitle {
    margin: 19.26px 0 66.93px 0;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    /* font-size: 30px; */
    font-size:calc(25px + 5 * ((100vw - 320px) / (1291 - 320)));
    line-height: 42px;
    word-wrap: break-word;
    color: #FFFFFF;
}
.billboard__play {
    position: relative;
    width: 132px;
    height: 132px;
    margin-bottom: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    transition: .2s;
    cursor: pointer;
}
.billboard__play::before {
    display: block;
    content: '';
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background: #fff;
}
.billboard__play::before,
.billboard__play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.billboard__play:hover {
    transform: rotateZ(360deg);
}
.billboard__play:hover.billboard__play::before {
    transform: translate(-50%, -50%) scale(1.1);
}
.billboard__but-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out 0.2s;
    outline: none;
}
.billboard__but-scroll:hover {
    transition: 0.2s ease-in-out 0.2s;
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Standard syntax */
}
@media screen and (max-width:900px) {
    .billboard__title {
        margin-top: 200px;
    }
}
@media screen and (max-width:600px) {
    .billboard__play {
        width: 120px;
        height: 120px;  
    }
    .billboard__scroll-icon {
        width: 24px;
        height: 63px;
    }
}
@media screen and (max-width:500px) {
    .billboard {
        padding: 0 0 35px 0;
    }
    .billboard__title {
        margin-top: 150px;
    }
}
/* billboard f */
/* logos s */
.logos {
    padding: 25px 0 25px 0;
}
.logos__icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logos__items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    margin: 5px 5px 5px 5px;
    transition: transform .2s;
}
.logos__items:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
.logos__link {
    display: block;
}
.logos__img {
    object-fit: contain;
}
.logos__link,
.logos__img {
    width: 100%;
    height: 100%;
}
/* logos f */
/* about s */
.about {
    width: 100%;
    padding: 118px 0 153px 0;
    background: #252525;
}
.about__title-block {
    position: relative;
    width: 100%;
    background: #EF3527;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}
.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
}
.about__text-block {
    width: 100%;
    margin: 0 20px 50px 20px;
}
.about__title {
    margin: 50px 0 40px 0;
    font-size:calc(47px + 13 * ((100vw - 320px) / (1291 - 320)));
    text-align: center;
}
.about__title::after {
   content:"";
   display: block;
   width: 25.57%;
   height: 2.5px;
   background: #FFA630;
   margin: 22px auto 0 auto;
}
.about__subtitle {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size:calc(16px + 2 * ((100vw - 320px) / (1291 - 320)));
    color: #FFFFFF;
}
.about__slider-unit {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.about__slider-container {
    max-width: 1139px;
    height: 69vh;
}
.about__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__slide-text-box {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(37,37,37,0.7);
    color: #fff;
}
.about__slide-text {
    width: 70%;
    margin: 0 auto;
    font-family: "Poppins Regular";
    font-weight: normal;
    font-size:calc(12px + 3 * ((100vw - 320px) / (1291 - 320)));
    letter-spacing: 0.2px; 
    text-align: center;
}
.about__slide-pagination {
    width: 100%;
    bottom: 20px;
    text-align: center;
}
.about__slide-pagination-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
    outline: none;
    cursor: pointer;
    transition-property: width, height, background;
    transition: .2s;
}
.about__slide-pagination-dot:last-child {
    margin: 0;
}
.about__slide-pagination-dot_active {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #FFA630;
}
.about__slider-button-prev,
.about__slider-button-next {
    position: relative;
    top: 0;
    min-width: 56px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    outline: none;
    cursor: pointer;
    transition: background .2s;
}
.about__slider-button-prev:hover,
.about__slider-button-next:hover {
    background: rgba(0, 0, 0, 0.9);
}
.about__slider-button-prev {
    left: 0;
}
.about__slider-button-next {
    right: 0;
}
.about__slider-button-prev::after,
.about__slider-button-next::after {
    border: solid  rgba(255,166,48,0.7);
    border-width: 0 3px 3px 0;
    padding: 10px;
}
.about__slider-button-prev:hover.about__slider-button-prev::after,
.about__slider-button-next:hover.about__slider-button-next::after {
    border: solid rgba(255,166,48,0.9);
    border-width: 0 3px 3px 0;
}
.about__slider-button-next::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
}
.about__slider-button-prev::after {
    transform: translate(-50%, -50%) rotate(135deg);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
}
@media screen and (max-width:768px) {
    .about {
        padding: 95px 0 95px 0;
    }
    .about__subtitle {
        width: 100%;
    }
    .about__slider-button-prev,
    .about__slider-button-next {
        min-width: 34px;
    }
    .about__slider-button-prev::after,
    .about__slider-button-next::after {
        border-width: 0 2px 2px 0;
        padding: 8px;
    }
    .about__slide-text-box {
        padding: 10px;
    }
    .about__slide-text {
        width: 100%;
    }
}
/* about f */
/* focus s*/
.focus {
    padding-bottom: 100px;
    background: #252525;
}
.focus__header {
    padding: 90px 12.56% 33px 25.115%;
    width: 100%;
    height: 100%;
    border: 20px solid #FFA630;
    box-sizing: border-box;
}
.focus__header-title::after {
    content: "";
    display: block;
    margin-top: 18.43px;
    margin-bottom: 28.38px;
    width: 66.573%;
    height: 3.19px;
    background: #EF3527;
}
.focus__header-subtitle {
    color: #FFFFFF;
}
.focus__column {
    width: 32.18%;
    min-height: 50vh;
    margin: 0 20px 20px 0;
}
.focus__column:nth-child(3n) {
    margin-right: 0;
}
.focus__column-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.focus__column-item {
    width: 64.97%;
    padding-top: 50%;
    left: -100%;
}
.focus__column-title {
    padding: 10%;
}
.focus__column-item-link {
    font-size:calc(19px + 11 * ((100vw - 320px) / (1291 - 320)));
}
@media screen and (max-width: 1185px) {
    .focus__column:nth-child(odd) {
        margin-right: 20px;
    }
    .focus__column:nth-child(even) {
        margin-right: 0;
    }
    .focus__column {
        width: 48%;
    }
    .focus__column-img {
        flex: 1 0 100%;
    }
}
@media screen and (max-width: 838px) {
    .focus__row {
        justify-content: center;
    }
    .focus__column {
        width: 60%;
    }
    .focus__column:nth-child(1n) {
        margin: 0 0 30px 0;
    }
    .focus__column:last-child {
        margin-bottom: 0;
    }
    .focus__header {
        padding: 65px 8.56% 43px 12.115%;
    }
}
@media screen and (max-width: 720px) {
    .focus__column {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .focus__column {
        width: 100%;
    }
}
/* numbers s*/
.numbers {
    padding: 95px 0 9.09px 0;
    background: #EF3527;
}
.numbers__row {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-column-gap: 30px;
}
.numbers__description {
    color: #fff;
}
.numbers__column {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex: 32.533%;
    margin-bottom: 84.6px;
}
.number__img img {
    width:100%;
    height: auto;
}
.numbers__title-block {
    display: flex;
    flex-direction: column;
    max-width: 70.6%;
}
.numbers__title {
    color: #FFA630;
    width: 100%;
}
.numbers_subtitle {
    color: #FFFFFF;
    width: 100%;
}
@media screen and (max-width: 980px) {
    .numbers__row {
    grid-template-columns:  1fr 1fr;
    }
}
@media screen and (max-width: 750px) {
    .numbers__row {
        grid-template-columns:  1fr;
    }

    .numbers__description {
        grid-area: 1/1/span 2/span 2;
        text-align: center;
    }
    .numbers_size {
        display: grid;
        grid-template-columns: 0.3fr 0.5fr;
        justify-content: center;
        grid-column-gap: 9%;
    }
    .number__img img {
        width: auto;
    }
    .number__img {
        text-align: right;
    }
    .numbers__title-block {
        max-width: 100%;
    }
}
@media screen and (max-width: 630px) {
    .numbers__row {
        grid-template-columns:  1fr;
    }
    .numbers__description {
        grid-area: 1/1/span 2/span 2;
        text-align: center;
    }
    .numbers__title-block {
        max-width: 100%;
    }
    .numbers__column {
        display: grid;
        grid-template-columns: 0.2fr 0.5fr;
        justify-content: center;
        grid-column-gap: 10%;
    }
    .number__img img {
        width: auto;
    }
    .number__img {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .numbers__row {
        grid-template-columns:  1fr;
        grid-row-gap: 45px;
    }
    .numbers__description {
        grid-area: 1/1/span 2/span 2;
        text-align: center;
    }
    .numbers__title-block {
        max-width: 100%;
    }
    .numbers__column {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-row-gap: 12px;
        margin-bottom: 0;
    }
    .numbers_subtitle {
        text-align: center;
    }
    .number__img img {
        display: flex;
        justify-self: center;
        width: 75%;
    }
    .number__img {
        display: flex;
        justify-self: center;
        justify-content: center;
    }
    .numbers__title {
        text-align: center;
    }
    .numbers {
        padding-bottom: 55px;
        padding-top: 60px;        
    }
}
/* projects s*/
.projects {
    background: #252525;
    padding: 100px 0 50px 0;
}
.projects__column {
    width: 32.18%;
    min-height: 50vh;
    margin: 0 20px 20px 0;
}
.projects__column:nth-child(2) {
    width: 65.9%;
    margin-right: 0;
}
.projects__column:last-child {
    margin-right: 0;
}
.projects__column-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.projects__column-item {
    flex: 1 0 55%;
    padding-top: 50%;
    left: -100%;
}
.projects__column-title {
    width: auto;
    padding: 10%;
}
.projects__column-item-link {
    font-size:calc(19px + 11 * ((100vw - 320px) / (1291 - 320)));
}
.projects__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 100%;
    height: 100%;
    padding: 55px 17.423% 50px 25px;
    border: 20px solid  #EF3527;
    box-sizing: border-box;
    background: #252525;
}
.projects__header-title {
    text-align: end;
    font-size:calc(47px + 13 * ((100vw - 320px) / (1291 - 320)));
}
.projects__header-title::after {
    content: "";
    display: block;
    text-align: end;
    width: 62.46%;
    height: 3.19px;
    background: #FFA630;
    margin: 20.43px 0 30px auto;
}
.projects__button {
    width: 168px;
    height: 50px;
    margin-top: auto;
}
@media screen and (max-width: 1185px) {
    .projects_row {
        justify-content: center;
    }
    .projects__column {
        width: 47%;
    }
    .projects__column:nth-child(2) {
        width: 96.4%;
        order: 4;
    }
    .projects__column:nth-child(3) {
        margin-right: 0;
    }
    .projects__column-img {
        flex: 1 0 100%;
    }
}
@media screen and (max-width: 968px) {
    .projects__column {
        width: 60%;
        margin: 0 0 20px 0;
    }
    .projects__column:nth-child(2) {
        width: 60.3%;
    }
}
@media screen and (max-width: 800px) {
    .projects__column {
        width: 80%;
    }
    .projects__column:nth-child(2) {
        width: 80.2%;
    }
}
@media screen and (max-width: 678px) {
    .projects__column {
        width: 100%;
    }
    .projects__column:nth-child(2) {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .projects__header {
        padding: 37px 20px 20px 20px;
    }
}
/* map */
.map {
    background: #252525;
    padding: 80px 0 100px 0;
}
.map__conteiner {
    display: flex;
    justify-content: space-between;
}
.map__contact {
    padding-right: 50px;
}
.map__logo {
    margin: 0 15px 0 0;
}
.map_font-style {
    margin: 0 0;
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #FFA630;
}
.map__header {
    display: flex;
    align-items: center;
    margin: 0 0 45px 0;
}
.map__map-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map__title {
    color: #EF3527;
}
.map__address-item {
    display: flex;
    flex-direction: column;
}
.map__address-title {
    margin-bottom: 2px;
}
.map__address-descript {
    margin: 0 0 12px 0;
    text-decoration: none;
    color: #fff;
}
.map__mail-link {
    text-decoration: none;
    color: #fff;
}
.map__address-descript a:hover {
    color: #FFA630;
    transition: color .2s;
}
.map__social {
    margin: 50px 0 0 0;
}
.map__map-block {
    position: relative;
    height: 75vh;
}
#map__map-item {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 950px) {
    .map {
        padding: 50px 0 50px 0;
    }
    .map__conteiner {
        flex-direction: column;
    }
    .map__contact {
        padding: 0 0 50px 0;
    }
    .map__address {
        text-align: center;
    }
    .map__header {
        justify-content: center;
    } 
}
@media screen and (max-width: 550px) {
    .map {
        padding: 50px 0 50px 0;
    }
}
/* footer */
.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    background: #252525;
    padding: 78.37px 0 42.9px 0;
}
.footer__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 116.24px;
}
.footer__column {
    flex: 0 1 15%;
    padding: 10px 10px 0 10px;
}
.footer__column:first-child {
    padding-left: 0;
}
.menu-down {
    width: 100%;
    list-style-type: none;
}
.menu-down a {
    text-decoration: none;
}
.menu-down__title {
    width: 100%;
    margin-bottom: 24.64px;
}
.menu-down__title a {
    margin-bottom: 24.64px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
    transition: color .2s;
}
.menu-down__title a:hover {
    color: #FFA630;
}
.menu-down__item {
    width: 100%;
    margin-bottom: 18.25px;
}
.menu-down__item:last-child {
    margin-bottom: 0;
}
.menu-down__item a {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18.25px;
    transition: color .2s;
}
.menu-down__item a:hover {
    color: #FFA630;
}
.footer__title {
    margin-bottom: 19px;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.footer__contact {
    flex: 0 1 30%;
    padding: 10px;
}
.footer__address {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}
.footer__social-conteiner {
    flex: 0 1 18%;
    padding: 10px 0px 10px 10px;
}
.footer__wrap-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer__by {
    min-width: 15%;
    margin-right: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 11.6115px;
    line-height: 14px;
    letter-spacing: 0.829395px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.footer__by a {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 11.6115px;
    line-height: 14px;
    letter-spacing: 0.829395px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: color .2s;
}
.footer__by a:hover {
    color: #FFA630;
}
.footer__policy {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer__policy-item {
    margin: 0 10px 0 0;
    min-width: 19%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-decoration: none;
    transition: color .2s;
}
.footer__policy-item:hover {
    color: #FFA630;
}
.footer__policy-item:last-child {
    margin: 0;
}
@media screen and (max-width: 1480px) {
    .footer__wrap-info {
        flex-direction: column;
        align-items: center;
    }
    .footer__column,
    .footer__contact,
    .footer__social-conteiner {
        padding: 0;
    }
    .footer__by {
        margin: 15px 0 0 0;
        order: 2;
        text-align: center
    }
    .footer__by-link {
        text-align: center;
    }
}
@media screen and (max-width: 1320px) {
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px 20px;
        margin-bottom: 70px;
    }
    .footer__social-conteiner {
        justify-self: center;
        grid-area: 2/2/3/4;
    }
    .footer {
        padding-bottom: 32px;
    }
}
@media screen and (max-width: 928px) {
    .footer {
        padding-top: 70px;
    }
}
@media screen and (max-width: 854px) {
    .footer__wrap-info {
        width: 100%;
    }
    .footer__policy {
        flex-direction: column;
        align-items: center;
    }
    .footer__policy-item {
        margin: 0 0 10px 0;
    }    
}
@media screen and (max-width: 768px) {
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 45px;
    }
    .footer__social-conteiner {
        align-self: self-end;
        justify-self: self-end  ;
    }
    .menu-down {
        text-align: center;
    }
    .footer__contact {
        text-align: center;
    }
}
@media screen and (max-width: 564px) {
    .footer {
        padding-top: 70px;
    }
    .footer__wrap-info {
        flex-direction: column;
    }
    .footer__by {
        order: 2;
        margin: 25px 0 0 0;
    }
}
@media screen and (max-width: 552px) {
    .footer__menu {
        grid-template-columns: 1fr 1fr;
    }
    .footer__social-conteiner {
        grid-area: 3/1/4/3;
        justify-self: center;
    }
}
@media screen and (max-width: 500px) {
    .menu-down__title a {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1.5px;
    }
    .footer__title {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    .menu-down__item {
        margin-bottom: 22.25px; 
    }  
    .menu-down__item a {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .footer__policy-item {
        margin-bottom: 13.5px;
        font-weight: bold;
        font-size: 15px;
    }
    .footer__by {
        font-size: 12.6115px;
    }
    .footer__by a {
        font-weight: bold;
        font-size: 12.6115px;
    }
}
@media screen and (max-width: 490px) {
    .footer {
        padding-top: 50px;
    }
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 45px;
    }
    .footer__social-conteiner {
        grid-area: 5/1/6/2;
    }
    .menu-down__title a {
        font-size: 19px;
    }
    .menu-down__item a {
        font-size: 21px;
    }
    .footer__title {
        font-size: 19px;
    }
    .footer__policy-item {
        font-size: 17px;
    }
    .footer__by {
        font-size: 15.6115px;
    }
    .footer__by a {
        font-size: 15.6115px;
    } 
}
@media screen and (max-width: 420px) {
    .menu-down__title a {
        font-size: 21px;
    }
    .menu-down__item a {
        font-size: 23px;
    }
    .footer__title {
        font-size: 21px;
    }
    .footer__policy-item {
        font-size: 19px;
    }
    .footer__by {
        font-size: 17.6115px;
    }
    .footer__by a {
        font-size: 17.6115px;
    }
}
@media screen and (max-width: 380px) {
    .menu-down__title a {
        font-size: 23px;
    }
    .menu-down__item a {
        font-size: 25px;
    }
    .footer__title {
        font-size: 23px;
    }
    .footer__policy-item {
        font-size: 21px;
    }
    .footer__by {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15.6115px;
    }
    .footer__by a {
        font-size: 15.6115px;
    }
    .footer__by-link {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
}
@media screen and (max-width: 340px) {
    .menu-down__title a {
        font-size: 24px;
    }
    .menu-down__item a {
        font-size: 26px;
    }
    .footer__title {
        font-size: 24px;
    }
    .footer__policy-item {
        font-size: 22px;
    }
    .footer__by {
        font-size: 15.6115px;
    }
    .footer__by a {
        font-size: 15.6115px;
    }
}