.billboard {
    padding: 0 0 50px 0;
    background: url(../img/header/background.png) center center no-repeat fixed;
    background-size: cover;
}
.billboard__header {
    display: flex;
    width: 100%;
    padding: 15px 0;
}
.billboard__logo-block {
    display: flex;
    align-items: center;
}
.billboard__logo-text {
    margin-left: 15px;
    color: #FFFFFF;
}
.billboard__menu-board {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.billboard__menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    transition: top .7s;
    z-index: 1;
}
.billboard__menu-item a{
    display: block;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: transparent;
    transition: color .2s;
}
.billboard__menu-item_white-space_nowrap {
    white-space: pre;
}
.billboard__menu-item {
    margin-right: 25px;
}
.billboard__menu-item a:hover {
    color: #252525;
}
.billboard__menu li:last-child {
    margin-right: 0px;
}
/* menu billboard__burger s*/
.billboard__burger {
    display: none;
    cursor: pointer;
    z-index: 3;
}
.burger-line {
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: .3s;
    transition-property: transform,opacity;
}
.burger-line:nth-child(2) {
    transform: translateY(9.1px);
}
.burger-line:nth-child(3) {
    transform: translateY(18px);
}
.burger.active .burger-line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
    -webkit-transform: translateY(12px) rotate(45deg);
    -moz-transform: translateY(12px) rotate(45deg);
}
.burger.active .burger-line:nth-child(2) {
    transform: translate(-30px,9.1px);
    opacity: 0;

}
.burger.active .burger-line:nth-child(3) {
    transform: translateY(6px) rotate(-45deg);
    -webkit-transform: translateY(6px) rotate(-45deg);
    -moz-transform: translateY(6px) rotate(-45deg);
}
/* можно использовать два варианта анимации средней линии меню бургер */
@keyframes animBurgerMiddleLine {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    50% {opacity: 0.5;}
    100% {
        transform: translateX(-20px);
        opacity: 0;
    }
}
.burger__menu_no-active {   /* общий класс для основного бургер и фиксированного бургер меню */
    display: none;
}
.burger_show {             /* общий класс для основного бургера и фиксированного бургера кнопок */   
    display: block;
}
/* menu billboard__burger f*/
.billboard__select-box {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 65px;
}
.billboard__select-box:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 12px 8px 0 8px;
    border-color: #fff transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0.5rem;
    z-index: 1;
    margin-top: -7px;
}
.billboard__select {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 2px 28px 2px 5px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.billboard__select:focus {
    outline: 0;
    border-color: #fff;
}
.billboard__select-item {
    font-family: "Poppins Regular";
    font-weight: normal;
    font-size: 18px;
    background: #df3124;
}
.billboard__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.billboard__title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 264px;
}
.billboard__title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    /* font-size: 95px; */
    font-size:calc(61px + 34 * ((100vw - 320px) / (1291 - 320)));
    line-height: 73px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.billboard__subtitle {
    margin: 19.26px 0 66.93px 0;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    /* font-size: 30px; */
    font-size:calc(25px + 5 * ((100vw - 320px) / (1291 - 320)));
    line-height: 42px;
    color: #FFFFFF;
}
.billboard__play {
    position: relative;
    width: 132px;
    height: 132px;
    margin-bottom: 60px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    transition: .2s;
    cursor: pointer;
}
.billboard__play::before {
    display: block;
    content: '';
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background: #fff;
}
.billboard__play::before,
.billboard__play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.billboard__play:hover {
    transform: rotateZ(360deg);
}
.billboard__play:hover.billboard__play::before {
    transform: translate(-50%, -50%) scale(1.1);
}
.billboard__but-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out 0.2s;
    outline: none;
}
.billboard__but-scroll:hover {
    transition: 0.2s ease-in-out 0.2s;
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Standard syntax */
}
.logos {
    padding: 39px 0 37px 0;
}
.logos__icons {
    display: flex;
    justify-content: space-around;
}
/* @media screen and (max-width:1350px ) {
     .billboard__title {
        margin-top: 200px;
    }
} */
@media screen and (max-width:600px) {
    .billboard__play {
        width: 120px;
        height: 120px;  
    }
    .billboard__scroll-icon {
        width: 24px;
        height: 63px;
    }
}
/* @media screen and (max-width:400px) {
    .billboard__title {
        margin-top: 150px;
    }
} */
/* billboard f */
/* about s */
.about {
    width: 100%;
    padding: 118px 0 153px 0;
    background: #252525;
}
.about__title-block {
    position: relative;
    width: 100%;
    background: #EF3527;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
}
.about__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 40px 20px;
}
.about__text-block {
    width: 100%;
    margin: 0 20px 50px 20px;
}
.about__title {
    margin: 50px 0 40px 0;
    text-align: center;
}
.about__title::after {
   content:"";
   display: block;
   width: 25.57%;
   height: 5px;
   background: #FFA630;
   margin: 22px auto 0 auto;
}
.about__subtitle {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}
.about__slider-unit {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.about__slider-container {
    max-width: 1139px;
}
.about__slide {
    height: 550px ;
}
.about__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__slide-text-box {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(37,37,37,0.7);
    color: #fff;
}
.about__slide-text {
    width: 70%;
    margin: 0 auto;
    font-family: "Poppins Regular";
    font-weight: normal;
    font-size:calc(12px + 3 * ((100vw - 320px) / (1291 - 320)));
    letter-spacing: 0.2px; 
    text-align: center;
}
.about__slide-pagination {
    width: 100%;
    bottom: 20px;
    text-align: center;
}
.about__slide-pagination-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
    outline: none;
    cursor: pointer;
    transition-property: width, height, background;
    transition: .2s;
}
.about__slide-pagination-dot:last-child {
    margin: 0;
}
.about__slide-pagination-dot_active {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #FFA630;
}
.about__slider-button-prev,
.about__slider-button-next {
    position: relative;
    top: 0;
    min-width: 56px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    outline: none;
    cursor: pointer;
    transition: background .2s;
}
.about__slider-button-prev:hover,
.about__slider-button-next:hover {
    background: rgba(0, 0, 0, 0.9);
}
.about__slider-button-prev {
    left: 0;
}
.about__slider-button-next {
    right: 0;
}
.about__slider-button-prev::after,
.about__slider-button-next::after {
    border: solid  rgba(255,166,48,0.7);
    border-width: 0 3px 3px 0;
    padding: 10px;
}
.about__slider-button-prev:hover.about__slider-button-prev::after,
.about__slider-button-next:hover.about__slider-button-next::after {
    border: solid rgba(255,166,48,0.9);
    border-width: 0 3px 3px 0;
}
.about__slider-button-next::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
}
.about__slider-button-prev::after {
    transform: translate(-50%, -50%) rotate(135deg);
    -webkit-transform: translate(-50%, -50%) rotate(135deg);
}
@media screen and (max-width:768px) {
    .about {
        padding: 95px 0 95px 0;
    }
    .about__subtitle {
        width: 100%;
    }
    .about__slider-button-prev,
    .about__slider-button-next {
        min-width: 34px;
    }
    .about__slide {
        height: 600px;
    }
    .about__slider-button-prev::after,
    .about__slider-button-next::after {
        border-width: 0 2px 2px 0;
        padding: 8px;
    }
    .about__slide-text-box {
        padding: 10px;
    }
    .about__slide-text {
        width: 100%;
    }
}
/* about f */
/* focus s*/
.focus {
    padding-bottom: 100px;
    background: #252525;
}
.focus__row_no-right div:nth-child(3n){
    margin-right: 0%;
}
.focus__header {
    margin-right: 1.55%;
    width: 32.18%;
    flex: 32.18%;
    height: 420px;
    border: 20px solid #FFA630;
    box-sizing: border-box;
}
.focus__header-title {
    width: 66.573%;
    margin: 90px 0 0 25.115%;
}
.focus__header-title::after {
    content: "";
    display: block;
    margin-top: 18.43px;
    margin-bottom: 28.38px;
    width: 66.573%;
    height: 3.19px;
    background: #EF3527;
}
.focus__header-subtitle {
    margin: 0 0 33px 25.115%;
    width: 45.46%;
    color: #FFFFFF;

}
.focus__column-1 {
    background: url(../img/focus/01.png) center center no-repeat;
    background-size: cover;
}
.focus__column-2 {
    background: url(../img/focus/02.png) center center no-repeat;
    background-size: cover;
}
.focus__column-3 {
    background: url(../img/focus/03.png) center center no-repeat;
    background-size: cover;
}
.focus__column-4 {
    background: url(../img/focus/04.png) center center no-repeat;
    background-size: cover;
}
.focus__column-5 {
    background: url(../img/focus/05.png) center center no-repeat;
    background-size: cover;
}
@media screen and (max-width: 1104px) {
    .focus__header {
        margin-right: 0%;
    }
    .focus_row {
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-gap: 1.55% 20px;
    }
    .focus__header {
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .focus_row {       
        grid-template-columns:  1fr;
    }
    .focus__column-5 {
        margin-bottom: 180px;
    }
}
/* numbers s*/
.numbers {
    padding: 95px 0 9.09px 0;
    background: #EF3527;
}
.numbers__row {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-column-gap: 30px;
}
.numbers__description {
    color: #fff;
}
.numbers__column {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    flex: 32.533%;
    margin-bottom: 84.6px;
}
.number__img img {
    width:100%;
    height: auto;
}
.numbers__title-block {
    display: flex;
    flex-direction: column;
    max-width: 70.6%;
}
.numbers__title {
    color: #FFA630;
    width: 100%;
}
.numbers_subtitle {
    color: #FFFFFF;
    width: 100%;
}
@media screen and (max-width: 980px) {
    .numbers__row {
    grid-template-columns:  1fr 1fr;
    }
}
@media screen and (max-width: 750px) {
    .numbers__row {
        grid-template-columns:  1fr;
    }

    .numbers__description {
        grid-area: 1/1/span 2/span 2;
        text-align: center;
    }
    .numbers_size {
        display: grid;
        grid-template-columns: 0.3fr 0.5fr;
        justify-content: center;
        grid-column-gap: 9%;
    }
    .number__img img {
        width: auto;
    }
    .number__img {
        text-align: right;
    }
    .numbers__title-block {
        max-width: 100%;
    }
}
@media screen and (max-width: 630px) {
    .numbers__row {
        grid-template-columns:  1fr;
    }
    .numbers__description {
        grid-area: 1/1/span 2/span 2;
        text-align: center;
    }
    .numbers__title-block {
        max-width: 100%;
    }
    .numbers__column {
        display: grid;
        grid-template-columns: 0.2fr 0.5fr;
        justify-content: center;
        grid-column-gap: 10%;
    }
    .number__img img {
        width: auto;
    }
    .number__img {
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .numbers__row {
        grid-template-columns:  1fr;
        grid-row-gap: 45px;
    }
    .numbers__description {
        grid-area: 1/1/span 2/span 2;
        text-align: center;
    }
    .numbers__title-block {
        max-width: 100%;
    }
    .numbers__column {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        grid-row-gap: 12px;
        margin-bottom: 0;
    }
    .numbers_subtitle {
        text-align: center;
    }
    .number__img img {
        display: flex;
        justify-self: center;
        width: 75%;
    }
    .number__img {
        display: flex;
        justify-self: center;
        justify-content: center;
    }
    .numbers__title {
        text-align: center;
    }
    .projects {
        padding-top: 55px;
    }
    .numbers {
        padding-bottom: 55px;
        padding-top: 60px;        
    }
}
/* projects s*/
.projects {
    background: #252525;
    padding: 100px 0 0 0;
}
.projects__button {
    width: 41.1%;
    height: 50px;
    margin: 0 17.423% 43px 0;
}
.projects_row {
    flex-wrap: wrap-reverse;
}
.projects__row_no-right div:nth-child(5){
    margin-right: 0%;
}
.projects__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 32.18%;
    order: 2;
    background: #252525;
    margin: 0px 0px 1.55% 0px;
    height: 420px;
    border: 20px solid  #EF3527;
    box-sizing: border-box
}
.projects__header-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 71.427%;
    height: 133px;
    margin: 75px 17.423% 0 0;
    text-align: end;
}
.projects__header-title::after {
    content: "";
    display: block;
    text-align: end;
    width: 62.46%;
    height: 3.19px;
    background: #FFA630;
    margin: 16.43px 0 0 0;
}
.projects__column-1 {
    flex-grow: 2;
    order: 1;
    background: url(../img/projects/01.png) center center no-repeat;
    background-size: cover;
}
.projects__column-2 {
    background: url(../img/projects/02.png) center center no-repeat;
    background-size: cover;
}
.projects__column-3 {
    background: url(../img/projects/03.png) center center no-repeat;
    background-size: cover;
}
.projects__column-4 {
    background: url(../img/projects/04.png) center center no-repeat;
    background-size: cover;
}
@media screen and (max-width: 1104px) {
    .projects_row {
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-gap: 1.55% 20px;
    }
    .projects__header {
        grid-area: 1/2/2/1;
    }
    .projects__column-1 {
        grid-area: 3/1/3/3;
    }
    .projects {
        padding-bottom: 100px;
    }
}
@media screen and (max-width: 768px) {
    .projects_row {
        display: grid;
        grid-template-columns:  1fr;
    }
    .projects__header {
        grid-area: 1/1/span 1/ span 1;
    }
    .projects__column-1 {
        grid-area: 5/1/ span 5/span 1;
    }
}
/* map */
.map {
    background: #252525;
    padding: 80px 0 100px 0;
}
.map__conteiner {
    display: flex;
    justify-content: space-between;
}
.map__header {
    margin: 0 0 45px 0;
}
.map__logo {
    margin: 0 4.27% 0 0;
}
.map_font-style {
    margin: 0 0;
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #FFA630;
}
.map__header {
    display: flex;
    align-items: center;
    width: 100%;
}
.map__map-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map__address {
    margin-left: 6.34%;
    width: 21.67%;
}
.map__title {
    width: 100%;
    color: #EF3527;
}
.map__address-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.map__address-title {
    margin-bottom: 2px;
}
.map__address-descript {
    width: 100%;
    margin: 0 0 12px 0;
    text-decoration: none;
    color: #fff;
}
.map__mail-link {
    text-decoration: none;
    color: #fff;
}
.map__address-descript a:hover {
    color: #FFA630;
    transition: color .2s;
}
.map__social {
    width: 83%;
    margin: 92px 0 0 0;
}
.map__map-block {
    position: relative;
    width: 66.54%;
    height: 613px;
}
#map__map-item {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1200px) { 
    .map__social {
        width: 80%;
    }
}
@media screen and (max-width: 1104px) { 
    .map {
        padding-top: 0px;
    }
}
@media screen and (max-width: 928px) { 
    .map {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .map__conteiner {
        flex-direction: column;
    }
    .map__map-block {
        width: 100%;
        height: 490px;
    }
    .map__address {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        margin-left: 0%;
        margin-bottom: 60px;
    }
    .map__address-title {
        margin-bottom: 8px;
    }
    .map_font-style {
        font-size: 12px;
    }
    .map__social {
        justify-self: end;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 0 0 0;
    }
    .map__header {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 768px) {
    .map {
        padding-top: 150px;
    }  
    .map_font-style {
        font-size: 14px;
    }
    .map__address-title {
        margin-bottom: 15px;
        margin-top: 15px;
    }   
}    
@media screen and (max-width: 742px) {
    .map__header {
    flex-direction: column;
    text-align: center;
    }    
}
@media screen and (max-width: 632px) {
    .map__social {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .map__header {
        text-align: left;
    }
    .map__logo {
        position: relative;
        right: 10%;
        margin-bottom: 7px;
    }
}
@media screen and (max-width: 564px) {
    .map {
        padding: 150px 0 70px 0;
    }
    .map__address {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 35px;
        margin-bottom: 60px;
    }
    .map__social {
        grid-area: 2/1/3/3;
        width: 77%;
        justify-self: center;
    }
    .social {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .map__header {
        text-align: center;
    }
    .map__logo {
        text-align: center;
        right: 0%;
    }
}

@media screen and (max-width: 500px) {
    .map {
        padding-bottom: 50px;
    }
    .map_font-style {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1.5px;
    }
    .map__address {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 432px) {
    .map__address {
        grid-template-columns: 1fr;
        margin-bottom: 40px;
    }
    .map__social {
        grid-area: 3/1/ span 3/ span 1;
        width: 70%;
        justify-self: center;
    }
    .map__address-item {
        align-items: center;
    }
    .map__address-descript  {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width: 432px) {
    .map__address {
        grid-template-columns: 1fr;
        margin-bottom: 40px;
    }
    .map__social {
        grid-area: 3/1/ span 3/ span 1;
        width: 70%;
        justify-self: center;
    }
    .map__address-item {
        align-items: center;
    }
    .map__address-descript  {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/* footer */
.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    background: #252525;
    padding: 78.37px 0 42.9px 0;
}
.footer__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 116.24px;
}
.menu-down {
    width: 100%;
    list-style-type: none;
}
.footer_size-1 {
    width: 7.72%;
}
.footer_size-2 {
    width: 12.53%;
}
.footer_size-3 {
    width: 10.2%;
}
.menu-down a {
    text-decoration: none;
}
.menu-down__title {
    width: 100%;
    margin-bottom: 24.64px;
}
.menu-down__title a {
    margin-bottom: 24.64px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
    transition: color .2s;
}
.menu-down__title a:hover {
    color: #FFA630;
}
.menu-down__item {
    width: 100%;
    margin-bottom: 18.25px;
}
.menu-down__item a {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 18.25px;
    transition: color .2s;
}
.menu-down__item a:hover {
    color: #FFA630;
}
.footer__title {
    margin-bottom: 19px;
    color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.footer__contact {
    width: 21.69%;
}
.footer__address {
    width: 100%;
    margin-bottom: 18.25px;
    color: rgba(255, 255, 255, 0.5);
}
.footer__social {
    width: 14.78%;
    margin-right: 13.02%;
}
.footer__wrap-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.footer__by {
    width: 15.48%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 11.6115px;
    line-height: 14px;
    letter-spacing: 0.829395px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.footer__by a {
    width: 15.48%;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 11.6115px;
    line-height: 14px;
    letter-spacing: 0.829395px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: color .2s;
}
.footer__by a:hover {
    color: #FFA630;
}
.footer__policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28.80%;
    margin-right: 13.02%;
}
.footer__policy-item {
    flex-shrink: 2;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: color .2s;
}
.footer__policy-item:hover {
    color: #FFA630;
}
@media screen and (max-width: 1320px) {
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-row-gap: 90px;
    }
    .footer_size-1 {
        width: 100%;
    }
    .footer_size-2 {
        width: 100%;
    }
    .footer_size-3 {
        width: 100%;
    }
    .footer__contact {
        width: 100%;
    }
    .footer__social {
        justify-self: center;
        grid-area: 2/2/3/4;
        width: 60%;
        margin-right: 0%;
    }
    .footer__info {
        display: flex;
        justify-content: center;
    }
    .footer__wrap-info {
        flex-direction: column;
        align-items: center;
        width: 37%;
        text-align: center;
    }
    .footer__by {
        order: 2;
        width: 100%;
        text-align: center;
    }
    .footer__policy {
        order: 1;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .footer {
        padding-bottom: 32px;
    }
    .footer__policy-item  {
        width: 100%;
    }
}
@media screen and (max-width: 928px) {
    .footer {
        padding-top: 70px;
    }
}
@media screen and (max-width: 854px) {
    .footer__wrap-info {
        width: 100%;
    }
    .footer__policy {
        text-align: center;
        flex-direction: column;
        width: 100%;
    }
    .footer__policy-item {
        margin-bottom: 10px;
    }    
}
@media screen and (max-width: 768px) {
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 45px;
    }
    .footer__social {
        align-self: center;
    }
    .footer__menu {
        margin-bottom: 90.24px;
    }
    .menu-down {
        text-align: center;
    }
    .footer__contact {
        text-align: center;
    }
}
@media screen and (max-width: 564px) {
    .footer {
        padding-top: 70px;
    }
}
@media screen and (max-width: 552px) {
    .footer__menu {
        grid-template-columns: 1fr 1fr;
    }
    .footer__social {
        grid-area: 3/1/4/3;
    }
    .footer__social {
        margin-top: 20px;
    } 
}
@media screen and (max-width: 500px) {
    .menu-down__title a {
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1.5px;
    }
    .footer__title {
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    .menu-down__item {
        margin-bottom: 22.25px; 
    }  
    .menu-down__item a {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .footer__policy-item {
        margin-bottom: 13.5px;
        font-weight: bold;
        font-size: 15px;
    }
    .footer__by {
        font-size: 12.6115px;
    }
    .footer__by a {
        font-weight: bold;
        font-size: 12.6115px;
    }
}

@media screen and (max-width: 490px) {
    .footer {
        padding-top: 50px;
    }
    .footer__menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 45px;
    }
    .footer__social {
        grid-area: 5/1/6/2;
    }
    .menu-down__title a {
        font-size: 19px;
    }
    .menu-down__item a {
        font-size: 21px;
    }
    .footer__title {
        font-size: 19px;
    }
    .footer__policy-item {
        font-size: 17px;
    }
    .footer__by {
        font-size: 15.6115px;
    }
    .footer__by a {
        font-size: 15.6115px;
    } 
}
@media screen and (max-width: 420px) {
    .menu-down__title a {
        font-size: 21px;
    }
    .menu-down__item a {
        font-size: 23px;
    }
    .footer__title {
        font-size: 21px;
    }
    .footer__policy-item {
        font-size: 19px;
    }
    .footer__by {
        font-size: 17.6115px;
    }
    .footer__by a {
        font-size: 17.6115px;
    }
}
@media screen and (max-width: 380px) {
    .menu-down__title a {
        font-size: 23px;
    }
    .menu-down__item a {
        font-size: 25px;
    }
    .footer__title {
        font-size: 23px;
    }
    .footer__policy-item {
        font-size: 21px;
    }
    .footer__by {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15.6115px;
    }
    .footer__by a {
        font-size: 15.6115px;
    }
    .footer__by-link {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
}
@media screen and (max-width: 340px) {
    .menu-down__title a {
        font-size: 24px;
    }
    .menu-down__item a {
        font-size: 26px;
    }
    .footer__title {
        font-size: 24px;
    }
    .footer__policy-item {
        font-size: 22px;
    }
    .footer__by {
        font-size: 15.6115px;
    }
    .footer__by a {
        font-size: 15.6115px;
    }
}